@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&family=Great+Vibes&family=Satisfy&family=Alex+Brush&family=Sacramento&family=Allura&family=Parisienne&family=Cookie&family=Bilbo&family=Tangerine&family=Lobster&display=swap');

.bg-custom-image {
  background-color: teal;
  background-image: 
    url('/long5.jpg'), 
    url('/between1.jpg'), 
    url('/long1.jpg');
  background-size: contain, contain, contain;
  background-position: top,center,bottom; 
  background-repeat: no-repeat; 
  height: auto; 
  min-height: 100lvh;
}

@media (max-width: 640px) {
  .bg-custom-image {
    min-height: 300vh;
  }
  .bg-image1, .bg-image2, .bg-image3 {
    height: 100vh;
  }
}

